.idea
.bsp/sbt.json
.idea/.gitignore
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_3_2_0_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala3_library_3_3_0_2_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_13_6_jar.xml
.idea/libraries/sbt__org_scalactic_scalactic_3_3_2_10_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_10_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_core_3_3_2_10_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funsuite_3_3_2_10_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/lighthouse-build.iml
.idea/modules/lighthouse.iml
.idea/runConfigurations.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml